<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientFunctionPortBinding" />
                <binding name="SOAPFunctionsPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/clientService" binding="basicHttpBinding"
                bindingConfiguration="ClientFunctionPortBinding" contract="ClientFunctions.ClientFunction"
                name="ClientFunctionPort" />
            <endpoint address="http://localhost:9090/lobbyService" binding="basicHttpBinding"
                bindingConfiguration="SOAPFunctionsPortBinding" contract="LobbyFunctions.SOAPFunctions"
                name="SOAPFunctionsPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <UI.Properties.Settings>
            <setting name="SOAPPort" serializeAs="String">
                <value>9090</value>
            </setting>
            <setting name="JMSPort" serializeAs="String">
                <value>61616</value>
            </setting>
            <setting name="SOAPrestURL" serializeAs="String">
                <value>/lobbyService</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>PC13-114</value>
            </setting>
            <setting name="BasicSoundPath" serializeAs="String">
                <value>Sounds/</value>
            </setting>
            <setting name="BackgroundSoundPath" serializeAs="String">
                <value>Background/</value>
            </setting>
            <setting name="MenuSoundPath" serializeAs="String">
                <value>Menu/</value>
            </setting>
            <setting name="InGameSoundPath" serializeAs="String">
                <value>InGame/</value>
            </setting>
            <setting name="EffectsSoundPath" serializeAs="String">
                <value>Effects/</value>
            </setting>
            <setting name="EffectsSoundType" serializeAs="String">
                <value>.wav</value>
            </setting>
            <setting name="BackgroundSoundType" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="BasicImagePath" serializeAs="String">
                <value>Images/</value>
            </setting>
            <setting name="CursorImagePath" serializeAs="String">
                <value>Cursor/</value>
            </setting>
            <setting name="CursorImageType" serializeAs="String">
                <value>.cur</value>
            </setting>
            <setting name="TileSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MapWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MapHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ParticipantSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>60</value>
            </setting>
        </UI.Properties.Settings>
    </applicationSettings>
</configuration>