<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.6.0" targetFramework="net45" />
  <package id="Apache.NMS.ActiveMQ" version="1.6.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EventStore" version="3.2.0.29" targetFramework="net45" />
  <package id="EventStore.Serialization.Json" version="3.2.0.29" targetFramework="net45" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RestSharp" version="104.3.3" targetFramework="net45" />
</packages>